/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}

body {font-family: Poppins, sans-serif;}
.section_home {background-image: url("../IMG/bg_home.jpg");background-size: cover; color: white;}
.section_home .navbar {display: flex;align-items: center;
    justify-content: space-between;}
.section_home .nav_list {display:inline-flex; padding: 2em}
.section_home .nav_list li {display: inline; padding: 1em;}
.section_home .nav_list li a:hover {border-bottom: 2px solid #E84181;}
.section_home .nav_list a {padding: 8px; color: white;text-decoration: none;}
.section_home .logo_header img {width: 50px; margin-left: 2em;}
.section_home .recherche_log{ background-image: url(../IMG/icons8-chercher-30.png); background-size: contain;}
.section_home .container{display: flex;}
.section_home .content{}

.section_home{}
.section_home{}
.section_home{}
